@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark: #1a1a1a;
  --light: #909090;
  --primary: #e917c4;
  --secondary: #bfd528;
  --tertiary: #801cf3;
  --quartenary: #e86717;
  --white: #ffffff;
}

.ipa,
.pronouns,
.location {
  @media screen and (max-width: 720px) {
    display: block;
  }
}
.seperator {
  @media screen and (max-width: 720px) {
    display: none;
  }
}
html,
body {
  background: var(--dark);
  color: var(--light);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header .name {
  padding-inline: 22%;
  padding-block-start: 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: var(--primary);
  @media only screen and (max-width: 720px) {
    height: 75px;
    line-height: 84px;
    font-size: 3em;
    background: var(--secondary);
    text-align: center;
    line-break: none;
  }
  @media only screen and (max-width: 480px) {
    height: 50px;
    line-height: 46px;
    font-size: 2em;
    background: var(--secondary);
    text-align: center;
    line-break: none;
  }
}

main {
  margin-block-start: 16px;
  margin-block-end: 32px;
  padding-inline: 25%;
  @media screen and (max-width: 720px) {
    padding-inline: 2rem;
  }
}

footer.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 48px;
}

.primary {
  color: var(--primary);
  font-weight: 700;
}
.quartenary {
  color: var(--quartenary);
  font-weight: 700;
}

.tertiary {
  color: var(--tertiary);
  font-weight: 700;
}
.x-light {
  color: var(--white);
  font-weight: 400;
}

a {
  color: var(--secondary);
}
a:hover {
  text-decoration: underline;
}
.tag {
  margin-block-end: 1rem;
}
.tag.primary.advanced {
  background-color: var(--primary);
  color: var(--white);
}

.tag.quartenary.working {
  background-color: var(--quartenary);
  color: var(--white);
}
.tag.secondary.learning {
  background-color: var(--secondary);
  color: var(--dark);
}

h2.header {
  font-size: 1.5rem;
  line-height: 28px;
  margin-block-end: 8px;
}

section {
  margin-block-end: 16px;
}

h3:not(.primary) {
  margin-block-end: 16px;
}

.socials {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }
}
.socials div {
  margin-inline-end: 24px;
}
