@import "../../styles/styles";
.card-title-container {
  color: $dark-cornflower-blue !important;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem;
  background-color: #e5e5e5;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-text-helper {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  color: $dark-cornflower-blue !important;
}

.card-style {
  border: 2px solid $border-orange;

  @include media-breakpoint-down(md) {
    margin-bottom: 0.25rem !important;
  }
}
