$black: #010101;
$gray: #1a1a1a;
$white: #fff;
$border-orange: #e86717;
$link: #bfd528;
$large-headers: #e2eaeb;

$blue-green: #0096c7;
$blue-violet-color-wheel: #bf3100;
$cerulean-crayola: #00b4d8;
$dark-cornflower-blue: #000;
$dark-orange: #ff8500;
$default-text: #42555c;
$navy-blue: #03045e;
$orange-pantone: #e86717;
$orange-peel: #ff9e00;
$pumpkin: #ff6d00;
$star-command-blue: #0077b6;
$yellow-orange-color-wheel: #ff9100;
