@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "./colors";
@import "./typography";
body {
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $gray;
  color: $default-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  h2 {
    text-align: center;
  }
  .month-wrapper,
  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-select {
    @include media-breakpoint-down(md) {
      margin-bottom: 0.25rem !important;
    }
  }
}

body > .container {
  padding-top: 60px;
}

footer {
  background-color: #2c3539;
  padding: 1rem;
  color: #f4f7f7;
  text-align: center;
  border-top: 1px solid $dark-cornflower-blue;
  a {
    color: $link;
  }
}
